body {
    background-color: rgb(150, 209, 196);
}

.img {
    width: 50px;
    height: 50px;
}

.text {
    max-width: 380px;
    margin: auto;
    line-height: 40px;
    font-size: 18px;
}

.btn {
    display: block;
    margin: auto;
    background-color: white;
    border-color: brown;
    color: brown;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 5px 5px 5px brown;
    background-color: brown;
    color: white;
}

.anchor {
    text-decoration: none;
}